
<div class="s-author-box container">
    <div class="row">
        <div class="s-author-left col-md-12">
            <span class="s-author-content">
                <a href="/Author/">
                    <img alt="" src="~/Content/images/author.jpg" class="s-avatar s-photo" height="72" width="72">
                </a>
            </span>
        </div>
        <div class="s-author-right col-md-12">
            <p class="s-author-name">
                <a href="/Author/">
                    By Nate Johnson
                </a>
            </p>
            <p class="s-author-description">Web Developer | Computer Programmer | Music is big, running is fun</p>
        </div>
    </div>
</div>