
<div class="container">
    <div class="row">
        <div class="s-author-right col-md-12">
            <p class="s-author-name">
                <a href="/Author/">
                    By Nate Johnson
                </a>
            </p>
            <p class="s-author-description">Web Developer | Computer Programmer | Music is big, running is fun</p>
        </div>
    </div>
</div>