 
<div class="row justify-content-center s-author-row">
    <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
            <a href="/Author/">
                <img alt="" src="~/Content/images/nate-johnson-profile-2.jpg" class="s-avatar s-photo rounded-circle">
            </a>
        </div>
    </div>
</div>