<header id="ds-header" class="header-global">
    <nav id="nav-menu-container" class="ds-single-nav navbar navbar-main navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/Blog/Index">
                <img src="/Content/images/white-logo-dark-sm.png">
            </a>
            <ul class="nav-menu ds-primary-nav navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">

                        @Html.ActionLink("Blog", "Index", "Blog", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        @*@Html.Partial("_DropDownLarge")*@
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("About", "Index", "Home", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                        <i class="ni ni-collection d-lg-none"></i>
                        @*Html.Partial("_DropDownSmall")*@
                    </li>

                </ul>

                <ul class="ds-primary-nav navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                            <span class="nav-link-inner--text d-lg-none">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                            <i class="fa fa-linkedin"></i>
                            <span class="nav-link-inner--text d-lg-none">Linked In</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
                            <i class="fa fa-github"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>
                </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</header>
