@using System.Activities.Statements
@using Showcase.Models
@model IEnumerable<Showcase.Models.Comment>

@functions 
{

    public System.Web.HtmlString CommentTree(List<Comment> comments)
    {
        string html = "<ul>";
        int counter = 1;

        foreach (var comment in comments)
        {
            string postDate = comment.Created.ToString();

            if (comment.ParentCommentId == null && !comment.ChildComments.Any())
            {
                html += "<li class='comment' id='comment-10'><div class='container'>" +
                        "<div id='ds-comment-" + counter + "' class='comment-body'>" +
                        "<div class='comment-author'><div class='row'><div class='col-6'><img alt = 'Comment Author' src='/Content/images/author.jpg' class='avatar' height='32' width='32'/>" +
                        "<cite class='fn'>" + Html.ActionLink(" Nathan Johnson", "Index", "Home", null, new { @class = "url" }) +
                        "</cite><span class='says'> :</ span></ div></div><div class='col-6'><div class='ds-reply-wrap'><button class='ds-reply-link genric-btn primary-border circle arrow small'>Reply</button></div></div></div></div>" +
                        "<div class='comment-date'><div class='row'><div class='col-12'><div class='comment-meta'> @ " + @postDate + "</div>" +
                        "<p>" + @comment.CommentContent + "</p></div></div></div></div>" +
                        "<div id='ds-reply-content'></div></li>";

                counter++;

            }
            else if (comment.ChildComments.Any())
            {
                html += "<li class='comment' id='comment-10'>" +
                        "<div id='ds-comment-" + counter + "' class='comment-body'>" +
                        "<div class='comment-author'><div class='row'><div class='col-xs-4'><img alt = 'Comment Author' src='~/Content/images/author.jpg' class='avatar' height='32' width='32'/>" +
                        "<cite class='fn'>" + Html.ActionLink("By Nathan Johnson", "Index", "Home", null, new { @class = "url" }) +
                        "</cite><span class='says'> :</ span></ div>" +
                        "<div class='comment-meta'> @ " + @postDate + "</div>" +
                        "<p>" + @comment.CommentContent + "</p></div>";

                foreach (var child in comment.ChildComments)
                {
                    html += ChildCommentTree(child);
                }
                html += "</ul></li></ul>";

            }
        }
        return new System.Web.HtmlString(html);
    }

    public System.Web.HtmlString ChildCommentTree(Comment comment)
    {
        string postDate = comment.Created.ToString();
        string childHtml = "<ul>";
        int childCounter = 1;

        childHtml += "<li class='comment' id='comment-10'>" +
                     "<div id='ds-child-comment-" + childCounter + "' class='comment-body'>" +
                     "<div class='comment-author'><img alt = 'Comment Author' src='~/Content/images/author.jpg' class='avatar' height='32' width='32'/>" +
                     "<cite class='fn'>" + Html.ActionLink("By Nathan Johnson", "Index", "Home", null, new {@class = "url"}) +
                     "</cite><span class='says'> says:</ span></ div>" +
                     "<div class='comment-meta'>" + @postDate + "</div>" +
                     "<p>" + comment.CommentContent + "</p></div></li>";

        if (comment.ChildComments.Any())
        {
            childHtml += ChildCommentTree(comment);
        }

        childHtml += "</ul>";

        return new System.Web.HtmlString(childHtml);
    }

}
@if (Model.Any())
 {
     @CommentTree(Model.ToList<Comment>())
 }
