
<div class="dropdown-menu">
    <a href="../examples/landing.html" class="dropdown-item">Landing</a>
    <a href="../examples/profile.html" class="dropdown-item">Profile</a>
    <a href="../examples/login.html" class="dropdown-item">Login</a>
    <a href="../examples/register.html" class="dropdown-item">Register</a>
</div>