<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Showcase Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Extra Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo%3A400%2C500%2C600%2C700&#038;ver=5.0.3" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif%3A400%2C700&#038;ver=5.0.3" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&amp;ver=4.9.8" rel="stylesheet" />
</head>
