@using Showcase.Helpers
@model Showcase.Models.PostLocation

<section id="ds-top-carousel" class="top-stories-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel active-stories-carousel">

                    <!-- single stories carousel -->
                    @foreach (var post in Model.Posts)
                    {
                        string createDate = post.Created?.Date.ToString("MMMM dd, yyyy");

                        <div class="single-stories-carousel d-flex align-items-center">
                            <div class="stories-thumb">
                                @Html.TopCarouselImage(post.PostImages?.Thumbnail)
                            </div>
                            <div class="stories-details">
                                <h6>
                                    <a href="">
                                        @post.PostName
                                    </a>
                                </h6>
                                <p>@createDate</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>