@using Showcase.Helpers
@model Showcase.Models.PostLocation

<section id="ds-top-carousel" class="top-stories-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel active-stories-carousel">

                    <!-- single stories carousel -->
                    @foreach (var post in Model.Posts)
                    {
                        string url = Url.Action("Post", "Blog", new { title = post.PostUrl });
                        string createDate = post.Created?.Date.ToString("MMMM dd, yyyy");

                        <div class="single-stories-carousel d-flex align-items-center">
                            <div class="stories-thumb">
                                <a href="@url">
                                    @Html.TopCarouselImage(post.PostImages?.Thumbnail)
                                </a>
                            </div>
                            <div class="stories-details">
                                <h6>
                                    @Html.ActionLink(post.PostName, "Post", "Blog", new { title = post.PostUrl}, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                                </h6>
                                <p>@createDate</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>