html {
	font-size: 1rem;
}
html body {
	height: 100%;
	max-height: 100%;
	font-family: "Merriweather", serif;
	letter-spacing: 0.01rem;
	line-height: 1.75em;
}
body .dropdown-menu {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Exo";*/
}
body .comment .comment-meta {
    color: #144e6e;
}
html body .profile-page .card-profile .card-profile-stats>div .description {
	color: #525f7f;
	opacity: 0.8;
}
body .comment-author cite {
    padding-left: 5px;
}
body #ds-comment-box .comment-body p {
    margin: 15px 0;
}
body #ds-comment-box {
    padding: 60px 0px;
    background-color: #f5f7f9;
    margin-top: 40px;
}
body #ds-comment-box a {
    color: #144e6e;
}
body #ds-comment-box .comment {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    color: #828bb2;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    margin: 20px 0px;
    border-color: #d1d9e0;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    list-style-type: none;
    opacity: 0.9;
}
body #ds-comment-box .new-comment {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    color: #828bb2;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    margin: 20px 0px;
    border-color: #d1d9e0;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
}
body .ds-comment-title {
    line-height: 1.5;
    font-family: "Merriweather", serif;
    text-align: Center;
    font-size: 1.5rem;
    padding: 40px 0px;
}

body .ds-reply-title, body .must-log-in {
    margin: 0 0 15px 0;
    font-family: 'Roboto';
    font-weight: 400;
    color: #444;
    font-size: 16px;
    text-transform: none;
    opacity: 0.9;
}
html body .reply-title {
    font-size: 18px;
    opacity: 0.9;
}
body #ds-new-comment-wrap .new-comment {
    max-width: none;
}
body .ds-response-title {
    font-size: 18px;
    margin: 0 0 15px 0;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    color: #444;
    text-transform: none;
}
body .ds-published-date {
    line-height: 1.5;
    font-family: "Merriweather", serif;
    text-align: Center;
    font-size: 1.5rem;
}

body .single-stories-carousel h6 a {
    padding: 8px 0px;
}

body .single-post-item .post-details h4 a {
    line-height: 1.5;
}

body .single-post-carousel .post-details .post-content .post-meta {
    min-width: 50%;
    margin-top: 4px;
}

body .single-stories-carousel h6 {
    max-height: 50px;
    min-height: 50px;
}

body .owl-carousel .owl-item img {
    width: auto;
}
body .ds-post-page .section-profile-cover {
    height: 800px;
}
body .comment-meta {
    line-height: 2rem;
}
body .ds-background-shade {
    width: 100%;
    height: 580px;
    background-color: #000;
    opacity: 0.4;
}
body .ds-about-nav {
    min-height: 54px;
}

body .ds-login-wrap .section-shaped .container {
    padding-top: 10vh !important;
}

body a {
	color: #172b4d;
}

body a:hover {
	color: #1e87f0;
}

body .card-profile {
	border-color: #d1d9e0;
	border-width: 1px;
	border-style: solid;
}
body .ds-single-nav {
    border-bottom: 1px solid #000;
}

html body .ds-single-nav .nav-link,
html body .ds-single-nav .nav-link i {
    color: #000 !important;
}

body .border-top {
	border-top: .0625rem solid #d1d9e0 !important;
}

body .ds-static-header .ds-navbar-blue {
	background-color: #172b4d !important;
	width: 100%;
}

body .ds-author-home .ds-author-description {
	margin-top: 10px;
}

body .ds-author-details {
	font-size: 1.1rem;
}

body .ds-avatar {
    border-radius: 50%;
}

body .section-shaped .shape {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

body .section-shaped {
    position: relative;
}

body .section-profile-cover {
    height: 580px;
    background-position: center center;
    background-size: cover;
}
body .ds-author-description,
body .ds-author-name {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #828bb2;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 4px 0px 0px 0px;
}
body .ds-post-page .op-post-subtitle {
    font-weight: 600;
}
body .ds-submit-wrap {
    margin-top: 20px;
}
body .ds-author-name a:hover {
    text-decoration: none;
}
body .ds-left-title-wrap {
	max-width: 700px;
	margin: 0 auto;
}

body #ds-left-title {
    padding: 2rem 0rem;
}

body .ds-author-button:hover {
    text-decoration: none;
}

body .ds-author-button {
    border: 1px solid #007bff;
    font-size: 0.9rem;
    border-radius: 4px;
    background-color: #fff;
    padding: 0px 10px;
    margin-left: 10px;
    color: #007bff;
    font-family: 'Roboto';
    position: relative;
    bottom: 1px;
    font-weight: 400;
}

body .ds-author-name a {
    color: #828bb2;
}

html body .single-post-carousel .post-details h2 {
    margin-bottom: 40px;
}

body .ds-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

body .ds-author-box {
    max-width: 700px;
}

body .ds-footer-wrap {
	background-color: #121b21;
}

body .ds-footer-bottom .fa {
	color: #b3b3b5;
	margin: 0px 10px
}
body footer .single-footer.single-footer-widget.instafeed-widget p {
    margin-bottom: 0px;
    color: #828bb2;
    max-width: 235px;
}
body .single-footer-widget .instafeed {
    margin-left: -5px;
    margin-right: 20px;
    padding: 0;
}
body footer .single-footer-widget p {
    margin-bottom: 0px;
    color: #828bb2;
    max-width: 235px;
    font-size: 14px;
    font-weight: 400;
}
body .single-post-carousel .post-details .post-content .details {
    font-family: "Poppins", Arial, sans-serif;
}
body .single-footer-widget.instafeed {
    margin-left: 30px;
}
body .ds-author-left .ds-author-right {
    text-align: left;
    padding-left: 0px;
    margin-top: 10px;
}
body .genric-btn.primary:hover {
    color: #0063cc;
    border: 1px solid #0063cc;
}
body #mobile-nav-toggle i {
    color: #0063cc;
}
body .genric-btn.primary {
    color: #fff;
    border: 1px solid #0063cc;
    border-radius: 2px;
    background: #0063cc;
}
body .genric-btn.primary-border:hover {
    color: #fff;
    border: 1px solid #0063cc;
    background: #0063cc;
}
body .ds-reply-link {
    padding: 0px 10px;
}
body .ds-reply-wrap {
    text-align: right;
}
body .genric-btn.primary-border {
    color: #144e6e;
    border: 1px solid #144e6e;
    border-radius: 2px;
}
body footer .single-footer-widget .instafeed li {
    margin: 5px;
}
body footer .container {
    max-width: 1170px;
}
body .single-footer-widget input {
    width: 100%;
    border: 1px solid #191919;
    font-size: 13px;
    line-height: 30px;
    padding-right: 40px;
    height: 40px;
    color: #999999;
    background: #191919;
    padding-left: 20px;
}
body .comment-author img {
    border-radius: 50%;
}
body footer .single-footer-widget .sub-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 2px;
    line-height: 34px;
    padding: 4px 11px 0px;
    background: #0063cc;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
body .tags-widget ul li:hover {
    background-color: #004a99;
}
body footer .single-footer-widget .sub-btn span {
    position: relative;
    top: -1px;
}
body footer .single-footer-widget .subscribe_form {
    padding-top: 25px;
}
body .instafeed {
    list-style-type: none;
}
body .footer_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 28px;
}
body footer {
    background: #000;
    padding: 120px 0 40px 0px;
}
body .ds-footer-date {
    color: #828bb2;
    padding: 40px 0px 20px 0px;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
body .ds-blog-card {
	border: 0px;
}

body .ds-shadow-sm {
	box-shadow: 0 2px 12px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 1, .07);
}

body .single-widget a {
	color: #fff;
}

body .ds-author-title,
body .ds-post-title {
	font-size: 2rem;
	font-weight: 600;
	opacity: 0.9;
}

body #ds-left-title .ds-post-title {
    padding-top: 10px;
    color: #000;
    line-height: 1.5;
    font-family: "Merriweather", serif;
}

body .ds-footer-logo {
	padding: 40px 0px;
	text-align: center;
}

body .ds-footer-logo img {
	width: 256px;
}

body .ds-single-nav .container {
	max-width: 1040px;
}

html body .section-shaped .shape-style-1.ds-image-background {
	background-image: url(/Content/images/sky-background.png) !important;
	background-size: cover !important;
	background-position: 100% !important;
}

body .single-stories-carousel {
	border-right: 1px solid #000;
}

body .ds-footer-bottom {
	text-align: center;
}

body .ds-skills-row {
	padding-bottom: 20px;
}

body .ds-about-sections {
	padding-bottom: 40px;
}

body .ds-about-sections .fa {
	font-size: 72px;
}

body .ds-about-sections .ds-post-subtitle {
	padding-bottom: 20px;
}

body .ds-post-content .rounded-circle {
	width: 180px;
}

body .ds-post-content .ds-author-row {
	height: 117px;
}

body .ds-content-container .ds-post-subtitle {
	text-align: left;
	padding: 20px 0px 10px 0px;
}

body .ds-post-subtitle {
	font-weight: 600;
	opacity: 0.9;
}

body h2.ds-post-subtitle {
	font-size: 1.5rem;
}

body #ds-blog-content .ds-post-subtitle {
    text-align: left;
    font-family: "Merriweather", serif;
}

body .ds-login-wrap .section-shaped {
	height: 100vh;
}

body .ds-account-title {
	color: #8898aa !important;
	font-size: 1.1rem;
}

body .input-group-alternative,
body .custom-control-alternative .custom-control-label::before {
	border: 1px solid #cad1d7;
}

body .ds-login-links {
	margin-top: 20px;
	text-align: center;
	font-size: .875rem;
}

body #ds-login-submit {
	margin-top: 20px;
}

body .ds-login-main {
	overflow: visible;
}

body .ds-login-wrap .ds-error-message,
body .validation-summary-errors li {
	margin-bottom: 10px;
	font-size: .875rem;
	list-style-type: none;
}

body .validation-summary-errors ul {
	text-align: center;
	padding-left: 0px;
}

body .ds-login-wrap .form-control,
body .ds-login-wrap .input-group .form-control:not(:first-child) {
	padding: 10px 12px;
}

body .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	border-color: #007bff;
	background-color: #007bff;
}

body h3.ds-post-subtitle {
	font-size: 1.4rem;
}

body h4.ds-post-subtitle {
	font-size: 1.2rem;
}

body .ds-post-text {
	padding: 0px;
	text-align: left;
	color: #3a3a3a;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 4%;
	opacity: 0.8;
	font-family: Noto Serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body .ds-no-padding {
	padding: 0px;
}


/* Set padding to keep content from hitting the edges */

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
	white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
	max-width: 280px;
}


/* Theme Overrides */

body .section-profile-cover {
	height: 580px;
}

body .ds-img-shade {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

@media only screen and (max-width: 767px) {
    html {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 992px) {
	html {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 1200px) {
	html {
		font-size: 1rem;
	}
}

@media (min-width: 992px) {
    html body .navbar-expand-lg .navbar-nav .nav-link,
    html body .navbar-nav .nav-link-icon {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

@media (min-width: 992px) {
    body .navbar-nav .nav-item {
        margin-right: 0;
    }
}

body .navbar {
	padding: 0px;
}

body .nav-item .ds-login-btn {
	padding: 4px 10px;
}

body #navbar_global {
	height: 50px;
}

body .card-profile-actions .btn,
body .profile-page .card-profile .card-profile-stats>div .heading {
	font-family: 'Roboto';
}

body .ds-title-divider {
	text-align: center;
	margin: 0 auto;
	border: 2px solid #00a0de;
	width: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}
body .single-post-carousel .post-details .post-content .post-meta .c-desc p {
    text-transform: none;
}
body .single-stories-carousel p {
    font-size: 0.75rem;
}
body .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Exo";*/
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
}

body #navbar-main {
	color: #fff;
}

body .ds-user-navbar li {
	padding: 0px 16px;
}


/* Argon Theme Overrides */

body .ds-post-content p {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0px;
    line-height: 2;
    margin-bottom: 4%;
    font-family: Noto Serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.84);
}
body .btn-primary,
body #ds-login-submit {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

body #logoutForm a {
	color: #fff;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Exo";*/
	font-weight: 400;
}
body .ds-single-nav #logoutForm a,
body .ds-single-nav #logoutForm a:hover{
    color: #000;
}

body #logoutForm a:hover {
    color: rgba(255, 255, 255, .65);
}

body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary:visited body #ds-login-submit:hover,
body #ds-login-submit:focus,
body #ds-login-submit:active,
body #ds-login-submit:visited {
	background-color: #1e87f0;
	border-color: #1e87f0;
}

body .jumbotron {
	background-color: #f2f2f2;
}

html body .bg-gradient-default,
html body .section-shaped .shape-style-1.shape-default,
html body .section-shaped .shape-style-1.shape-primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,28a5f5+0,1e87f0+100 */
	background: #1e5799 !important;
	/* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #003087 0%, #1e87f0 100%) !important;
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%, #003087 0%, #1e87f0 100%) !important;
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%, #003087 0%, #1e87f0 100%) !important;
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e87f0', GradientType=0) !important;
	/* IE6-9 */
}

body .navbar-brand img {
	height: 35px;
	margin-top: 3px;
}

body .btn-info {
	color: #fff;
	border-color: #172b4d !important;
	background-color: #172b4d !important;
}


/* Bootstrap Menu */

body .vertical-menu {
	overflow-y: auto;
}

body .vertical-menu a {
	background-color: #f2f2f2;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}
body .ds-slider-img {
    min-height: 500px;
}
body.vertical-menu a:hover {
    background-color: #ccc;
}

body .vertical-menu a.active {
	background-color: #1e87f0;
	color: white;
}

body .ds-top-carousel-img {
    max-height: 80px;
    max-width: 100px;
}

body .ds-post-page .shape {
    background-size: cover;
}

/* Pace Loading Bar */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    min-height: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body .pace-inactive {
    display: block;
    min-height: 0px;
}

body #ds-header {
    padding-top: 4px;
}

.pace .pace-progress {
    background: #007bff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    height: 4px;
    width: 100%;
    height: 2px;
}
