
<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/Blog/" class="simple-text" target="_blank">
                <img src="/Content/images/white-logo-sm.png">
            </a>
        </div>
        <ul class="nav">
            <li id="ds-dashboard" class="nav-item">
                <a class="nav-link" href="/Admin/Dashboard/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="ds-authors"  class="nav-item">
                <a class="nav-link" href="/Admin/Authors/">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Authors</p>
                </a>
            </li>
            <li id="ds-posts" class="nav-item">
                <a class="nav-link" href="/Admin/Posts/">
                    <i class="nc-icon nc-notes"></i>
                    <p>Posts</p>
                </a>
            </li>
            <li id="ds-categories" class="nav-item">
                <a class="nav-link" href="/Admin/Categories/">
                    <i class="nc-icon nc-vector"></i>
                    <p>Categories</p>
                </a>
            </li>
            <li id="ds-projects" class="nav-item">
                <a class="nav-link" href="/Admin/Projects/">
                    <i class="nc-icon nc-settings-90"></i>
                    <p>Projects</p>
                </a>
            </li>
            <li id="ds-workouts" class="nav-item">
                <a class="nav-link" href="/Admin/Workouts/">
                    <i class="nc-icon nc-watch-time"></i>
                    <p>Workout Log</p>
                </a>
            </li>
            <li id="ds-albums" class="nav-item">
                <a class="nav-link" href="/Admin/Albums/">
                    <i class="nc-icon nc-album-2"></i>
                    <p>Photo Albums</p>
                </a>
            </li>
            <li id="ds-tasks" class="nav-item">
                <a class="nav-link" href="/Admin/PostLocations/">
                    <i class="nc-icon nc-layers-3"></i>
                    <p>Blog Layout</p>
                </a>
            </li>
            <li id="ds-to-blog" class="nav-item active active-pro">
                <a class="nav-link active" href="/Blog/">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>To Blog</p>
                </a>
            </li>
        </ul>
    </div>
</div>