@model dynamic
@{
    string status = "";
    string type = "";

    if (TempData["StatusMessage"] != null)
    {
        status = TempData["StatusMessage"].ToString();
        type = TempData["StatusType"].ToString();
    }
}
@if (!string.IsNullOrEmpty(status))
{
    <div data-notify="container" class="ds-alert-box col-11 col-sm-4 alert alert-dismissible @type alert-with-icon fade show" role="alert" data-notify-position="top-right">
        <button type="button" aria-hidden="true" class="ds-alert-close close" data-dismiss="alert" data-notify="dismiss">
            <i class="nc-icon nc-simple-remove"></i>
        </button>
        <span data-notify="icon" class="nc-icon nc-app"></span>
        <span data-notify="title"></span> @status<span data-notify="message"></span>
        <a href="#" target="_blank" data-notify="url"></a>
    </div>
}
