
<section class="top-stories-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel active-stories-carousel">
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories1.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories2.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories3.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories4.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories5.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                    <!-- single stories carousel -->
                    <div class="single-stories-carousel d-flex align-items-center">
                        <div class="stories-thumb">
                            <img class="img-fluid" src="~/Content/images/posts/carousel/stories6.jpg" alt="">
                        </div>
                        <div class="stories-details">
                            <h6>
                                <a href="">
                                    2nd Gen Smoke Alarm <br>
                                    get up from sleep
                                </a>
                            </h6>
                            <p>September 14, 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Stories Area -->
<!-- Start Post Silder Area -->
<section class="post-slider-area">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="owl-carousel active-post-carusel">
                    <!-- single carousel item -->
                    <div class="single-post-carousel">
                        <div class="post-thumb">
                            <img class="img-fluid" src="~/Content/images/web/web-development-tutorials-grid-sm.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2>
                                <a href="#">
                                    2nd Gen Smoke Alarm get up <br>
                                    from sleep Daily
                                </a>
                            </h2>
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta">
                                    <div class="thumb"><img src="" alt=""></div>
                                    <div class="c-desc">
                                        <h6>Marvel Maison</h6>
                                        <p><span class="lnr lnr-calendar-full"></span>13th Oct, 2018</p>
                                    </div>
                                </div>
                                <div class="details">
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                        It’s exciting to think about setting up your own viewing station.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single carousel item -->
                    <div class="single-post-carousel">
                        <div class="post-thumb">
                            <img class="img-fluid" src="~/Content/images/web/web-development-articles-sm.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2>
                                <a href="#">
                                    2nd Gen Smoke Alarm get up <br>
                                    from sleep Daily
                                </a>
                            </h2>
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta">
                                    <div class="thumb"><img src="~/Content/images/author/a1.png" alt=""></div>
                                    <div class="c-desc">
                                        <h6>Marvel Maison</h6>
                                        <p><span class="lnr lnr-calendar-full"></span>13th Oct, 2018</p>
                                    </div>
                                </div>
                                <div class="details">
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                        It’s exciting to think about setting up your own viewing station.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single carousel item -->
                    <div class="single-post-carousel">
                        <div class="post-thumb">
                            <img class="img-fluid" src="~/Content/images/web/data-structures-binary-trees-bg-sm.jpg" alt="">
                        </div>
                        <div class="post-details">
                            <h2>
                                <a href="#">
                                    2nd Gen Smoke Alarm get up <br>
                                    from sleep Daily
                                </a>
                            </h2>
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta">
                                    <div class="thumb"><img src="~/Content/images/author/a1.png" alt=""></div>
                                    <div class="c-desc">
                                        <h6>Marvel Maison</h6>
                                        <p><span class="lnr lnr-calendar-full"></span>13th Oct, 2018</p>
                                    </div>
                                </div>
                                <div class="details">
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                        It’s exciting to think about setting up your own viewing station.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="main-body section-gap">
    <div class="container box_1170">
        <div class="row">
            <div class="col-lg-8 post-list">
                <!-- Start Post Area -->
                <section class="post-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c1.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c2.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c3.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c4.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c1.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c2.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="/Content/images/archive/c3.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-post-item">
                                <div class="post-thumb">
                                    <img class="img-fluid" src="~/Content/images/archive/c4.jpg" alt="">
                                </div>
                                <div class="post-details">
                                    <h4><a href="#">An Stormy Evening</a></h4>
                                    <p>
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                        exciting to think about setting up your own viewing station.
                                    </p>
                                    <div class="blog-meta">
                                        <a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>March 14, 2018</a>
                                        <a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <span class="lnr lnr-arrow-left"></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a href="#" class="page-link">01</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                    <li class="page-item"><a href="#" class="page-link">03</a></li>
                                    <li class="page-item"><a href="#" class="page-link">04</a></li>
                                    <li class="page-item"><a href="#" class="page-link">09</a></li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">
                                                <span class="lnr lnr-arrow-right"></span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
                <!-- Start Post Area -->
            </div>

            <div class="col-lg-4 sidebar">
                <div class="single-widget protfolio-widget">
                    <div class="ds-profile-wrap">
                        <img class="img-fluid ds-profile-img" src="~/Content/images/nate-johnson-profile-2.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Nate Johnson's Web Blog</h4>
                    </a>
                    <p class="p-text">
                        Web development, music production, adventures and rants
                    </p>

                </div>
                <div class="single-widget popular-posts-widget">
                    <div class="jq-tab-wrapper" id="horizontalTab">
                        <div class="jq-tab-menu">
                            <div class="jq-tab-title active" data-tab="1">Popular</div>
                            <div class="jq-tab-title" data-tab="2">Latest</div>
                        </div>
                        <div class="jq-tab-content-wrapper">
                            <div class="jq-tab-content active" data-tab="1">
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories1.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories2.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories3.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories4.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="jq-tab-content active" data-tab="2">
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories2.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories3.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories1.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                                <div class="single-popular-post d-flex flex-row">
                                    <div class="popular-thumb">
                                        <img class="img-fluid" src="~/Content/images/posts/carousel/stories4.jpg" alt="">
                                    </div>
                                    <div class="popular-details">
                                        <h6>
                                            <a href="">
                                                2nd Gen Smoke Alarm <br>
                                                get up from sleep
                                            </a>
                                        </h6>
                                        <p>September 14, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget category-widget">
                    <h4 class="title">Post Categories</h4>
                    <ul>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>International (56)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>Tours and Travels (45)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>Cooking Tips (23)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>Life Style and Fashion (72)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>Organic News (37)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="justify-content-between align-items-center d-flex">
                                <p>Games and Sports (19)</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="single-widget tags-widget">
                    <h4 class="title">Post Tags</h4>
                    <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Techlology</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Architecture</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start main body Area -->