@model Showcase.Models.Post

@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";
    string imageUrl = "";
    string postDate = Model.LastModified?.Date.ToString("MMMM dd, yyyy");
     

    if (Model?.PostImage != null)
    {
        imageUrl = "data:image/png;base64," + Convert.ToBase64String(Model.PostImage);
    }
}

<section id="ds-left-title">
    <div class="container">
        <div class="ds-blog-card ds-left-title-wrap">
            <div class="ds-author-details h6 font-weight-300">
                @Html.Partial("_AuthorBoxLeft")
            </div>
            <h1 class="ds-post-title">
                @Model.PostName
            </h1>
        </div>
    </div>
</section>

<main class="ds-post-page">
    <section class="section-profile-cover section-shaped my-0">
        <div class="ds-img-shade">
        </div>
        <!-- Circles background -->
        <div class="shape shape-style-1 alpha-4" style="background-image: url(@imageUrl)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <!-- Start content section -->
    <section id="ds-blog-content" class="ds-post-content">
        <div class="container ds-content-container">
            <div class="mt-5 py-5 border-top">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-12 col-xs-12">
                        <h2 class="ds-published-date"><span class="lnr lnr-calendar-full"></span> Published @postDate</h2>
                        <p class="ds-post-text">
                            @Html.Raw(HttpUtility.HtmlDecode(Model?.PostContent))
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>