
body .ds-admin-wrapper .logo img {
    width:170px;
}

body a {
    color:#1e87f0;
}
body .ds-create-btn a {
    padding: 8px 16px;
}

body #ShowcaseDataTable_wrapper {
    display:block;
}

body #ShowcaseDataTable {
    margin-top:30px;
}

body .ds-submit-btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid #cccccc;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    background-color: transparent;
    opacity: 1;
    font-weight: 400;
    padding: 8px 16px;
    margin: 10px 0px 40px 0px;
    color: #1e87f0;
}

html body .ds-submit-col {
    padding-left:0px;
}

body #ShowcaseDataTable_filter .form-control, body #ShowcaseDataTable_length select {
    margin:0px 10px;
    height:auto;
    padding:6px;
}

body #ShowcaseDataTable_length {
    float:left;
}

body .table tbody + tbody {
    border:0px;
}

body .ds-create-btn {
    text-align: center;
    white-space: nowrap;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #cccccc;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    background-color: transparent;
    font-weight: 400;
    padding: 0px;
    position:relative;
    bottom:6px;
}

body .ds-title-row {
    padding-bottom:60px;
}

body a:hover, body a:focus, body a:active {
    color:#1e5799;
}

body .ds-admin-wrapper .navbar-nav li a {
    color: #888888;
    padding: 10px 15px;
    position: relative;
    display: inline-flex;
    line-height: 1.2;
}

body .ds-admin-title {
    font-size: 2rem;
    margin-top:14px;
}

body .card .card-title {
    font-family: "Merriweather", serif;
}

body .navbar .navbar-brand {
    padding:0px 20px 0px 10px;
    font-size:1rem;
}

body .clockpicker .clockpicker-button {
    background: rgb(232, 240, 254);
    color: black;
}

body .ds-admin-wrapper .card-body-lg {
    padding:40px;
}

body .ds-timer-box {
    border:0px;
}

body .ds-admin-wrapper .panel-title, body .ds-admin-wrapper h2{
    font-size:1.6rem;
    margin:0px;
}

body .ds-description-box {
    height:200px;
}

body .ds-actions-col a {
    margin:0px 4px;
}

html body .ds-admin-wrapper .sidebar:after, html body>.navbar-collapse:after{
    background: -moz-linear-gradient(top, #1e5799 0%, #003087 0%, #1e87f0 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%,#003087 0%,#1e87f0 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#003087 0%,#1e87f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e87f0',GradientType=0 );
    opacity:1;
}

body .main-panel {
    background:#f4f5f7!important;
}

body .sidebar .nav li .nav-link p, body>.navbar-collapse .nav li .nav-link p {
    text-transform:none;
    font-size:1rem;
    font-weight:400;
}

body .navbar {
    padding:0px 10px;
}

body .sidebar .logo, body>.navbar-collapse .logo {
    border-bottom:0px;
}